<div [ngStyle]="{'height':isLoading===true?'100%':'0%'}" class="loading d-flex align-items-center justify-content-center">
    <div class="spinner"></div>
</div>

<app-homeheader [trendingMovies]="trendingMoviesList"></app-homeheader>
<div class="container py-3">
    <!-- Movies -->
    <div class="row no-gutters">
        <div class="col-md-4 col-sm-8 d-flex align-items-center ">
            <div class="header ">
            <div class="brdr w-25 my-3"></div>
            <h2 class="font-weight-bold">Trending Movies <br> To Watch Now</h2>
            <p class="second-color">Most Watched Movies By Days</p>
            <div class="brdr w-75 my-3 "></div>
            </div>
        </div>
        <div *ngFor="let movie of trendingMovies" class="col-lg-2 col-sm-4 p-2 ">
            <div class="movie">
               <a [routerLink]="['/moviedetails',type[0],movie?.id]"> <div class="cover position-relative ">
                <div class="cover">
                    <img *ngIf="movie?.poster_path!=null" [src]="prefixSrc+movie?.poster_path" class="w-100" [alt]="movie.title">
                    <img *ngIf="movie?.poster_path==null" [src]=anonymousImage class="w-100" [alt]="movie.title">

                    <div class="overlay"></div>
                </div>
                <div class="rate p-2 shadow">
                    {{movie?.vote_average}}
                </div>
            </div>
            <h3 class="h6 font-weight-bold text-center ">{{movie?.title}}</h3>  </a>
            </div>
        </div>
    </div>
    <!-- Tv -->
    <div class="row no-gutters">
        <div class="col-md-4 col-sm-8 d-flex align-items-center ">
            <div class="header ">
            <div class="brdr w-25 my-3"></div>
            <h2 class="font-weight-bold">Trending Tv <br> To Watch Now</h2>
            <p class="second-color">Most Watched Tv By Days</p>
            <div class="brdr w-75 my-3 "></div>
            </div>
        </div>
        <div *ngFor="let tv of $any(sub2|async).results.slice(0,10)" class="col-lg-2 col-sm-4 p-2 ">
            <div class="tv">
                <a [routerLink]="['/moviedetails',type[1],tv?.id]">
                    <div class="poster position-relative ">
                <div class="cover">
                    <img *ngIf="tv?.poster_path!==null" [src]="prefixSrc+tv?.poster_path" class="w-100" [alt]="tv?.name||tv.title">
                    <img *ngIf="tv?.poster_path===null" [src]=anonymousImage class="w-100" [alt]="tv?.name||tv.title">

                    <div class="overlay"></div>
                </div>
                <div class="rate p-2 shadow">
                    {{tv?.vote_average}}
                </div>
            </div>
            <h3 class="h6 font-weight-bold text-center">{{tv?.name}}</h3>
        </a>
            </div>
        </div>
    </div>
   <!-- People -->
    <div class="row no-gutters mb-3">
        <div class="col-md-4 col-sm-8 d-flex align-items-center ">
            <div class="header ">
            <div class="brdr w-25 my-3"></div>
            <h2 class="font-weight-bold">Trending People <br> To Watch Now</h2>
            <p class="second-color">Most Watched People By Days</p>
            <div class="brdr w-75 my-3 "></div>
            </div>
        </div>
        <div *ngFor="let person of trendingPerson" class="col-lg-2 col-sm-4 p-2 ">
            <div class="person">
                <a [routerLink]="['/moviedetails',type[2],person?.id]">
                    <div class="cover">
                        <img *ngIf="person?.profile_path!=null" [src]="prefixSrc+person?.profile_path" class="w-100" [alt]="person?.name">
                         <img *ngIf="person?.profile_path==null" [src]=anonymousImage class="w-100" [alt]="person?.name">
                        <div class="overlay"></div>
                    </div>
                    <h3 class="h6 font-weight-bold text-center">{{person?.name}}</h3>  
                </a>
            </div>
        </div>
    </div>
</div>